@import "./normalize.css";
@import "./flex.css";
@import "./mortar.css";
@import "./panels.css";
@import "./forms.css";
@import "./buttons.css";
@import "./widthsHeights.css";
@import "./hideShow.css";

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

.redline {
  border: 1px solid rgb(255, 70, 70);
  background: pink;
}

.blueline {
  border: 1px solid rgb(59, 59, 255);
  background: rgb(35, 255, 255);
}
