/* >>>>>>>>>>>>>>>>>>> */
/* WIDTHS */

.w100 {
  width: 100%;
}

.w95 {
  width: 95%;
}

.w90 {
  width: 90%;
}

.w85 {
  width: 85%;
}

.w80 {
  width: 80%;
}

.w75 {
  width: 75%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w55 {
  width: 55%;
}

.w50 {
  width: 50%;
}

.w45 {
  width: 45%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.w05 {
  width: 05%;
}

/* >>>>>>>>>>>>>>>>>>> */
/* HEIGHTS */

.h100 {
  height: 100%;
}

.h95 {
  height: 95%;
}

.h90 {
  height: 90%;
}

.h85 {
  height: 85%;
}

.h80 {
  height: 80%;
}

.h75 {
  height: 75%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h55 {
  height: 55%;
}

.h50 {
  height: 50%;
}

.h45 {
  height: 45%;
}

.h40 {
  height: 40%;
}

.h30 {
  height: 30%;
}

.h25 {
  height: 25%;
}

.h20 {
  height: 20%;
}

.h10 {
  height: 10%;
}

.h05 {
  height: 05%;
}
