.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.flexRow {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.flexColumn {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
