* {
  box-sizing: content-box;
}

html {
  font-family: var(--fontage);
  background: var(--blue-dk);
  background-image: linear-gradient(180deg, var(--blue-lt) 12%, var(--blue-dk) 100%);
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontage);
  height: 100vh;
}

h1, h2, h3, h4, h5 h6 {
  color: var(--blue-md);
  font-weight: normal;
}

p, ul, ol, li {
  font-size: 1em;
}