.formWrap {
  background: initial;
}

/* FORMAGE */
form {
  margin: 0em;
  text-align: left;
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 40%; */
  margin-bottom: 1.5em;
}

.entryWrap {
  /* height: 100%; */
  overflow: scroll;
  /* max-height: 600px; */
  /* width: 56%; */
  /* margin-left: 1em; */
  box-shadow: 1px 1px 20px -10px grey;
  padding: 2em;
  background: white;
  border-radius: 3px;
}

form label {
  color: var(--blue-dk);
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.15ch;
}

form input,
form select {
  display: block;
  width: var(--formFieldsWidth);
  color: var(--blue-dk);
  font-family: var(--fontage);
  font-size: 1em;
  font-weight: 300;
  margin-top: 0.5em;
  border: 1px solid var(--cream);
  height: 2em;
  padding: 0.25em 0.5em;
  line-height: 1.6em;
  box-shadow: inset 1px 1px 6px -5px var(--black);
  padding-left: 0.75em;
}

form input:focus,
form select:focus,
form textarea:focus {
  width: var(--formFieldsWidth);
  outline: 3px solid var(--blue-lt);
  padding-left: 0.75em;
  letter-spacing: 0.01em;
}

form select {
  /* width: var(--formFieldsWidth); */
  display: block;
  width: 97.6%;
  color: var(--blue-dk);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  background: var(--white);
  box-shadow: 1px 1px 6px -5px black;
  height: 2.7em;
  padding-left: 0.75em;
  letter-spacing: 0.01em;
  /* box-shadow: 1px 1px 6px -5px var(--black); */
}

form select:hover,
form select:focus {
  width: 97.6%;
}

form textarea {
  display: block;
  width: var(--formFieldsWidth);
  color: var(--blue-dk);
  font-family: var(--fontage);
  font-size: 1em;
  font-weight: 300;
  margin-top: 0.5em;
  border: 1px solid var(--cream);
  padding: 0.25em 0.5em 0.25em 0.75em;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  box-shadow: inset 1px 1px 6px -5px var(--black);
}

button#submitBtn {
  /* color: rgba(23, 86, 100, 0.75); */
  /* font-family: var(--fontage); */
  font-size: 1rem;
  font-weight: 400;
  float: right;
  padding: 0.45em 1.15em 0.55em;
  border-radius: 0.25em;
  cursor: pointer;
  border: 1px solid rgba(23, 86, 100, 0.25);
  letter-spacing: 0.01em;
  margin: 1.5em 0.3em 0em 0;
}

button#submitBtn:hover {
  color: white;
  background: rgb(196, 196, 196);
  text-shadow: 0px 0px 2px black;
  border: none;
}

button#submitBtn:focus {
  outline: none;
}

button#submitBtn.buttonField:hover {
  cursor: pointer;
  width: 97.6%;
}

button#submitBtn#submitBtn {
  align-self: flex-end;
}
