section .journalEntry {
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 0.025em;
  margin: 0;
  line-height: 1.3;
  padding: 0.4em 1.5em;
  background: var(--white);
}

.journalEntry hr {
  border: 0.5px solid hsl(0, 0%, 85%);
  margin: 0;
  padding: 0;
}

.journal__date {
  font-size: 0.85em;
  margin: 0;
  color: rgb(128, 128, 128);
}

p.journal__concept {
  font-weight: 400;
  margin-top: 0.25em;
  margin-bottom: 0em;
  color: var(--blue-dk);
  margin-bottom: 0.15em;
}

p.journal__entry {
  margin-top: 0;
  color: rgb(77, 77, 77);
  margin-bottom: 0.5em;
}

p.journal__mood {
  margin-top: 0.25em;
}
