@import '_colors.css';
@import '_base.css';

.container {
  width: 600px;
  margin: auto;
  padding: 2em 0 0;
}

main {
  background: var(--blue-pale);
  padding: 2em 2em 1em;
  border-radius: .3em;
  width: 420px;
  box-shadow: 3px 3px 9px 0px var(--blue-dk);
  margin: 0 auto;
}

main h1 {
  margin-top: 0;
}

.coffee {
  width: 42px;
  margin-bottom: 0em;
  margin-right: 0.3em;
  float: left;
}

/* FORMAGE */
form {
  margin: 0em auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

form fieldset {
  padding: 0;
  border: none;
  margin: 1em 0 0;
  width: 400px;
}

form label {
  color: var(--blue-dk);
  letter-spacing: 0.03em;
}

form input,
form select {
  color: var(--blue-dk);
  font-family: var(--fontage);
  font-size: 1em;
  font-weight: 300;
  margin-top: .5em;
  width: 400px;
  border: 1px solid var(--cream);
  height: 2em;
  padding: .25em .5em;
  line-height: 1.6em;
  box-shadow: inset 1px 1px 6px -5px var(--black);
  padding-left: 0.75em;
}

form input:focus,
form select:focus,
form textarea:focus {
  outline: 3px solid var(--blue-lt);
  padding-left: 0.75em;
  letter-spacing: 0.01em;
}

form select {
  color: var(--blue-dk);
  font-size: 1em;
  font-weight: 300;
  width: 420px;
  line-height: 1.6em;
  background: var(--white);
  box-shadow: 1px 1px 6px -5px black;
  height: 2.7em;
  padding-left: 0.75em;
  letter-spacing: 0.01em;
}

form textarea {
  color: var(--blue-dk);
  font-family: var(--fontage);
  font-size: 1em;
  font-weight: 300;
  margin-top: .5em;
  width: 400px;
  border: 1px solid var(--cream);
  padding: .25em .5em .25em .75em;
  line-height: 1.6em;
  letter-spacing: 0.01em;
}

form fieldset button {
  color: var(--blue-dk);
  font-family: var(--fontage);
  font-size: 1.15em;
  font-weight: 400;
  float: right;
  padding: .75em 1.25em;
  border-radius: .25em;
  cursor: pointer;
  border: 1px solid azul;
  letter-spacing: 0.01em;
  background: linear-gradient(180deg, var(--white) 10%, #87EAFF 100%);
  margin: 0.75em -1.2em 1em 0;
}

form fieldset button:hover {
  background: linear-gradient(180deg, var(--white) 20%, rgb(119, 206, 226) 100%);
  cursor: pointer;
}

form fieldset button:focus {
  outline: none;
}

form fieldset .buttonField:hover {
  cursor: pointer;
}
