* {
  box-sizing: content-box;
}

html {

}

body {
  background-image: linear-gradient(180deg, #87EAFF 12%, #175664 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 600px;
  height: 100vh;
  margin: 0 auto;
}

main {
  background: azure;
  padding: 2em 2em 1em;
  border-radius: .3em;
  width: 420px;
  margin: 2em auto 3em;
  box-shadow: 3px 3px 9px 0px #355961;
}

main > h1 {
  margin-top: 0;
}

h1, h2, h3, h4, h5 h6 {
  font-weight: normal;
  color: #31b4d0;
}

.coffee {
  width: 42px;
  margin-bottom: 0em;
  margin-right: 0.3em;
  float: left;
}

p, ul, ol, li {
  font-size: 1em;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>> */

form {
  margin: 0em auto;
  text-align: left;
}

form fieldset {
  padding: 0;
  border: none;
  margin: 1em 0;
  width: 400px;
}


form label {
  display: block;
}

form input,
form select {
  margin-top: .5em;
  width: 400px;
  border: 1px solid #ddd;
  height: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  font-size: .9em;
  font-weight: normal;
  padding: .25em .5em;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 300;
  box-shadow: inset 1px 1px 6px -5px black;
  /* border-radius: 20px; */
  padding-left: 0.75em;
}

form input:focus,
form select:focus,
form textarea:focus {
  /* outline: 2px solid rgba(66, 211, 243, 0.4); */
  outline: 3px solid rgba(49, 180, 208, 0.5);
  /* border-radius: 20px; */
  padding-left: 0.75em;
}

form select {
  width: 420px;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 300;
  background: white;
  box-shadow: 1px 1px 6px -5px black;
  height: 2.7em;
  padding-left: 0.75em;
}

form textarea {
  margin-top: .5em;
  width: 400px;
  border: 1px solid #ddd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: .9em;
  font-weight: normal;
  padding: .25em .5em .25em .75em;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 300;
}

form fieldset button {
  float: right;
  /* clear: both; */
  padding: .75em 1.25em;
  /* margin-bottom: 1em; */
  font-size: 1.15em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: .25em;
  background: linear-gradient(180deg, #E7FBFF 12%, #87EAFF 100%);
  margin-top: 0.75em;
  margin-right: -0.9em;
  font-weight: 400;
  cursor: pointer;
}

form fieldset button:hover {
  background: linear-gradient(180deg, #87EAFF 12%, rgb(107, 186, 204) 100%);
}