@import "./colors.css";
@import "./common/common.css";
@import "./typography.css";
@import "./form.css";
@import "./headerFooter.css";

:root {
  --formFieldsWidth: 90%;
}

body {
  font-family: var(--fontage);
  padding: 0;
  margin: 0;
  height: 100vh;
}

@media (max-width: 600px) {
  body {
    height: 100%;
  }
}

::selection {
  color: #000;
  background: #fbd404;
}

html {
  font-family: var(--fontage);
  background: var(--cream);
  /* background-image: linear-gradient(180deg, var(--blue-lt) 12%, var(--blue-dk) 100%); */
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0;
}

main {
  background: var(--white);
  padding: 2em 2em 1em;
  /* border-radius: 0.3em; */
  /* width: 90%; */
  /* box-shadow: 3px 3px 9px 0px var(--blue-dk); */
  margin: 0 auto;
}
